// Usage: @import 'draper_ext/attribute/mixin';

// Example: @include activerecord_attribute("person");                 #=> .activerecord.attribute[data-model='person']
// Example: @include activerecord_attribute("person", "name");         #=> .activerecord.attribute[data-model='person'][data-attribute='name']
// Example: @include activerecord_attribute("person", "name", "Yuki"); #=> .activerecord.attribute[data-model='person'][data-attribute='name'][data-value='Yuki']
@mixin activerecord_attribute($model, $attribute: null, $value: null) {
  .activerecord.attribute[data-model=#{$model}] {
    @if $attribute == null {
      @content;
    } @else {
      &[data-attribute=#{$attribute}] {
        @if $value == null {
          @content;
        } @else {
          &[data-value=#{$value}] {
            @content;
          }
        }
      }
    }
  }
}

// Example: @include activerecord_attribute_boolean("person", "alive");
//   #=>
//   .activerecord.attribute[data-model='person'][data-attribute='alive'][data-value='true']{ color: green; }
//   .activerecord.attribute[data-model='person'][data-attribute='alive'][data-value='false']{ color: red; }
@mixin activerecord_attribute_boolean($model, $attribute) {
  @include activerecord_attribute($model, $attribute, 'true') {
    color: green;
  }
  @include activerecord_attribute($model, $attribute, 'false') {
    color: red;
  }
}

// `@include activerecord_attribute_boolean`から見出しを保護
article.show section.activerecord.attribute > h3 {
  color: initial;
}
