<%- associations.each do |assc| -%>

trait :with_<%= assc.name %> do
  <%- if assc.singular? -%>
  association :<%= assc.name %>
  <%- else -%>
  <%= assc.name %> { create_list(:<%= assc.singular_name %>, 3) }
  <%- end -%>
end
<%- end -%>
