<%- associations.each do |assc| -%>

describe "#<%= assc.name %>_section" do
  it "returns a <%= assc.name %> section element" do
    expect(decorator.<%= assc.name %>_section).to have_tag(
      "section.activerecord.association",
      with: {
        "data-model" => "<%= class_name %>",
        "data-association" => "<%= assc.name %>",
      },
    ){
      with_tag(".action-navigation")
    }
  end

  context "<%= singular_name %> has no <%= assc.name %>" do
    it "returns a <%= assc.name %> section with target's record banner" do
      expect(decorator.<%= assc.name %>_section).to have_tag("section.activerecord.association"){
        without_tag(".association_target")
        without_tag(".record_banner")
      }
    end
  end

  context "<%= singular_name %> has <%= assc.name %>" do
    let(:<%= singular_name %>){ create(:<%= singular_name %>, :with_<%= assc.name %>) }

    it "returns a <%= assc.name %> section without target's record banner" do
      expect(decorator.<%= assc.name %>_section).to have_tag("section.activerecord.association"){
        with_tag(".association_target"){
  <%- if assc.singular? -%>
          with_tag(".record_banner", with: {"data-model" => "<%= class_name %>", "data-record-id" => <%= singular_name %>.<%= assc.name %>.id})
  <%- else -%>
          <%= singular_name %>.<%= assc.name %>.each do |<%= assc.singular_name %>|
            with_tag(".record_banner", with: {"data-model" => "<%= class_name %>", "data-record-id" => <%= assc.singular_name %>.id})
          end
  <%- end -%>
        }
      }
    end
  end
end

describe "#<%= assc.name %>_navigation" do
  <%- if assc.singular? -%>
  context "<%= singular_name %> has no <%= assc.name %>" do
    it "returns a <%= assc.name %> navigation element" do
      expect(decorator.<%= assc.name %>_navigation).to have_tag(".action-navigation"){
        with_tag(".action.new")
        without_tag(".action.show")
        without_tag(".action.edit")
      }
    end
  end

  context "<%= singular_name %> has <%= assc.name %>" do
    let(:<%= singular_name %>){ create(:<%= singular_name %>, :with_<%= assc.name %>) }

    it "returns a <%= assc.name %> navigation element" do
      expect(decorator.<%= assc.name %>_navigation).to have_tag(".action-navigation"){
        without_tag(".action.new")
        with_tag(".action.show")
        with_tag(".action.edit")
      }
    end
  end
  <%- else -%>
  it "returns a <%= assc.name %> navigation element" do
    expect(decorator.<%= assc.name %>_navigation).to have_tag(".action-navigation"){
      with_tag(".action.index")
      with_tag(".action.new")
    }
  end
  <%- end -%>
end
<%- end -%>