<%- associations.each do |assc| -%>

describe "#<%= assc.name %>_field_set" do
  let(:<%= singular_name %>){ create(:<%= singular_name %>, :with_<%= assc.name %>) }

  it "returns a <%= assc.name %> field set" do
    expect(decorator.<%= assc.name %>_field_set).to have_tag(
      "fieldset.activerecord.association",
      with: {
        "data-model" => "<%= class_name %>",
        "data-association" => "<%= assc.name %>",
      },
    ){
      with_tag("legend")

  <%- case assc.type -%>
  <%- when :references, :belongs_to then -%>
      with_tag(".reference_field-field"){
        with_tag("input.foreign_type:not([name])", with: {type: "hidden", value: "<%= class_name %>"})
        with_tag("input.foreign_key", with: {type: "hidden", name: "<%= singular_name %>[<%= assc.name %>_id]", value: <%= singular_name %>.<%= assc.name %>.id.to_s})
        with_tag(".event_button", with: {"data-event" => "reference_field:find"})
        with_tag(".banner_container")
      }
  <%- when :has_one then -%>
      object_name = "<%= singular_name %>[<%= assc.name %>_attributes]"
      with_tag(".action_field-container", with: {"data-object-name" => object_name}){
        with_tag(".action_field-member", with: {"data-object-name" => object_name}){
          with_hidden_field("#{object_name}[id]", <%= singular_name %>.<%= assc.name %>.id)
          with_hidden_field("#{object_name}[_destroy]", "false")
          # Add <%= assc.human_name %> fields matchers.
          # with_text_field("#{object_name}[name]", <%= singular_name %>.<%= assc.name %>.name)
          with_tag(".event_button", with: {"data-event" => "action_field:remove"})
        }
      }
      with_tag(".action_field-menu"){
        with_tag(".event_button", with: {"data-event" => "action_field:create"})
        with_tag(".event_button", with: {"data-event" => "action_field:remove"})
      }
  <%- when :has_many then -%>
      object_name = "<%= singular_name %>[<%= assc.name %>_attributes]"
      with_tag(".action_field-container", with: {"data-object-name" => object_name}){
        <%= singular_name %>.<%= assc.name %>.each_with_index do |<%= assc.singular_name %>, i|
          object_name_with_index = "#{object_name}[#{i}]"
          with_tag(".action_field-member", with: {"data-object-name" => object_name_with_index}){
            with_hidden_field("#{object_name_with_index}[id]", <%= assc.singular_name %>.id)
            with_hidden_field("#{object_name_with_index}[_destroy]", "false")
            # Add <%= assc.human_name %> fields matchers.
            # with_text_field("#{object_name_with_index}[name]", <%= assc.singular_name %>.name)
            with_tag(".event_button", with: {"data-event" => "action_field:remove"})
          }
        end
      }
      with_tag(".action_field-menu"){
        with_tag(".event_button", with: {"data-event" => "action_field:add"})
        with_tag(".event_button", with: {"data-event" => "action_field:clear"})
      }
  <%- when :has_and_belongs_to_many then -%>
      with_tag(".action_field-container"){
        <%= singular_name %>.<%= assc.name %>.each do |<%= assc.singular_name %>|
          with_tag(".action_field-member", count: <%= singular_name %>.<%= assc.name %>.size){
            with_tag(".reference_field-field"){
              with_tag("input.foreign_type:not([name])", with: {type: "hidden", value: <%= assc.singular_name %>.class.name})
              with_tag("input.foreign_key", with: {type: "hidden", name: "<%= singular_name %>[<%= assc.singular_name %>_ids][]", value: <%= assc.singular_name %>.id.to_s})
              with_tag(".event_button", with: {"data-event" => "reference_field:find"})
              with_tag(".banner_container")
            }
            with_tag(".event_button", with: {"data-event" => "action_field:remove"})
          }
        end
        without_tag("input[name$='[id]']")
        without_tag("input[name$='[_destroy]']")
      }
      with_tag(".action_field-menu"){
        with_tag(".event_button[data-template]", with: {"data-event" => "action_field:add"})
        with_tag(".event_button", with: {"data-event" => "action_field:clear"})
      }
  <%- end -%>
    }
  end
end
<%- end -%>