<%- associations.each do |assc| -%>

describe "#<%= assc.name %>" do
  it{ expect(decorator.<%= assc.name %>.reflection.macro).to eq(:<%= assc.type == :has_and_belongs_to_many ? "has_many" : assc.type %>) }
end
<%- end -%>