<%- associations.each do |assc| -%>

describe "#<%= assc.name %>_field_set" do
  it "returns a <%= assc.name %> field set" do
    expect(decorator.<%= assc.name %>_field_set).to have_tag(
      "fieldset.activerecord.association",
      with: {
        "data-model" => "<%= class_name %>",
        "data-association" => "<%= assc.name %>",
      },
    ){
      with_tag("legend")
      with_tag("div.activerecord.field", with: {"data-field-name" => "q[<%= assc.name %>_id_eq]"}){
        with_tag("label")
        with_number_field("q[<%= assc.name %>_id_eq]")
      }
    }
  end
end
<%- end -%>