<%- associations.each do |assc| -%>

describe "#<%= assc.name %>_cell" do
  <%- if assc.singular? -%>
  context "<%= singular_name %> has no <%= assc.name %>" do
    it "returns a empty <%= assc.name %> cell element" do
      expect(decorator.<%= assc.name %>_cell).to have_tag(
        "td.activerecord.association:empty",
        with: {
          "data-model" => "<%= class_name %>",
          "data-association" => "<%= assc.name %>",
        },
      )
    end
  end

  context "<%= singular_name %> has <%= assc.name %>" do
    let(:<%= singular_name %>){ create(:<%= singular_name %>, :with_<%= assc.name %>) }

    it "returns a <%= assc.name %> cell element" do
      expect(decorator.<%= assc.name %>_cell).to have_tag(
        "td.activerecord.association",
        with: {
          "data-model" => "<%= class_name %>",
          "data-association" => "<%= assc.name %>",
        },
      ){
        with_tag(".record_banner", with: {"data-model" => "<%= class_name %>", "data-record-id" => <%= singular_name %>.<%= assc.name %>.id})
      }
    end
  end
  <%- else -%>
  let(:<%= singular_name %>){ create(:<%= singular_name %>, :with_<%= assc.name %>) }

  it "returns a <%= assc.name %> cell element" do
    expect(decorator.<%= assc.name %>_cell).to have_tag(
      "td.activerecord.association",
      with: {
        "data-model" => "<%= class_name %>",
        "data-association" => "<%= assc.name %>",
      },
    ){
      <%= singular_name %>.<%= assc.name %>.each do |<%= assc.singular_name %>|
        with_tag(".record_banner", with: {"data-model" => "<%= class_name %>", "data-record-id" => <%= assc.singular_name %>.id})
      end
    }
  end
  <%- end -%>
end
  <%- if assc.collection? -%>

describe "#<%= assc.name %>_count_cell" do
  let(:<%= singular_name %>){ create(:<%= singular_name %>, :with_<%= assc.name %>) }

  it "returns a <%= assc.name %> count cell element" do
    expect(decorator.<%= assc.name %>_count_cell).to have_tag(
      "td.activerecord.association",
      with: {
        "data-model" => "<%= class_name %>",
        "data-association" => "<%= assc.name %>",
      },
    ){
      with_tag("a", text: <%= singular_name %>.<%= assc.name %>.count.to_s)
    }
  end
end
  <%- end -%>
<%- end -%>