<%%- <%= singular_name %> = (@<%= singular_name %> || <%= class_name %>.new).decorate -%>

<nav id="action-navigation" class="<%= plural_name %>">
  <h3><%%= <%= class_name %>.model_name.human %></h3>
  <ul class="collection actions tab-head" data-tab="action">
    <li class="action link search<%%= " current" if action == "search" %>"><%%= <%= singular_name %>.search_link %></li>
    <li class="action link index<%%= " current" if action == "index" %>"><%%= <%= singular_name %>.index_link %></li>
    <li class="action link new<%%= " current" if action == "new" %>"><%%= <%= singular_name %>.new_link %></li>
  </ul>
<%%- if <%= singular_name %>.object.persisted? -%>
  <h3>Record</h3>
  <ul class="member actions tab-head" data-tab="action">
    <li class="action link show<%%= " current" if action == "show" %>"><%%= <%= singular_name %>.show_link %></li>
    <li class="action link edit<%%= " current" if action == "edit" %>"><%%= <%= singular_name %>.edit_link %></li>
    <li class="action link destroy"><%%= <%= singular_name %>.destroy_link %></li>
  </ul>
<%%- end -%>
</nav>
