<%%- <%= singular_name %> = <%= class_name %>.new.decorate -%>
<li class="controller <%= plural_name %>">
  <%%= check_box_tag :controller_select_<%= plural_name %>, nil, params[:controller] == "<%= plural_name %>", class: "acd-check" %>
  <%%= label_tag :controller_select_<%= plural_name %>, <%= class_name %>.model_name.human, class: "acd-label" %>
  <ul class="actions tile acd-content">
    <li class="action link search"><%%= <%= singular_name %>.search_link %></li>
    <li class="action link index"><%%= <%= singular_name %>.index_link %></li>
    <li class="action link new"><%%= <%= singular_name %>.new_link %></li>
  </ul>
</li>
