<%%= form_with model: <%= singular_name %>, decoration: true do |f| %>
  <%%= f.error_explanation_about if <%= singular_name %>.errors.any? %>

  <div class="form-actions">
    <%%= f.submit %>
  </div>
<%% end %>
