<h1><%%= route(controller: :<%= controller_name %>, action: :index).name(:action_with_object) %></h1>

<%%= <%= plural_name %>.paginate %>
<%%= <%= plural_name %>.page_entries_info(wrap: true) %>

<table class="index <%= plural_name %>">
  <thead>
    <tr>
      <th colspan="3" class="model"><%%= <%= class_name %>.model_name.human %></th>
    </tr>
    <tr>
      <th colspan="3" class="actions">Actions</th>
    </tr>
  </thead>
  <tbody>
<%%- @<%= plural_name %>.decorate(type: :table).each do |<%= singular_name %>| -%>
    <tr data-model="<%= class_name %>" data-record-id="<%%= <%= singular_name %>.object.id %>">
      <%%= <%= singular_name %>.action_link_cells %>
    </tr>
<%%- end -%>
  </tbody>
</table>

<%%= <%= plural_name %>.paginate %>
