<h1><%%= route(controller: :<%= controller_name %>, action: :search).name(:action_with_object) %></h1>

<%%= search_form_for @ransack, decoration: true do |f| %>
  <%%= f.sorts_field_set %>
  <div class="form-actions">
    <%%= f.submit %>
  </div>
<%% end %>
