<%%- <%= singular_name %> = @<%= singular_name %>.decorate(type: :article) -%>

<h1><%%= route(controller: :<%= controller_name %>, action: :show).name(:action_with_object) %></h1>

<article class="show" data-model="<%= class_name %>" data-record-id="<%%= @<%= singular_name %>.id %>">
</article>
