require 'rails_helper'

describe <%= class_name %>ArticleDecorator do
  let(:decorator){ described_class.new(<%= singular_table_name %>) }
  let(:<%= singular_table_name %>){ create(:<%= singular_table_name %>) }
end
