require 'rails_helper'

describe <%= class_name %>FormDecorator do
  let(:decorator){ described_class.new(form_builder) }
  let(:form_builder){ h.form_with(model: <%= singular_table_name %>){|f| return f } }
  let(:<%= singular_table_name %>){ create(:<%= singular_table_name %>) }

  describe "#submit" do
    it "returns a submit button" do
      expect(decorator.submit).to have_tag(":root"){
        with_tag("input", with: {type: "submit"})
      }
    end
  end
end
