require 'rails_helper'

describe <%= class_name %>ModelDecorator do
  let(:decorator){ described_class.new(<%= singular_table_name %>) }
  let(:<%= singular_table_name %>){ create(:<%= singular_table_name %>) }

  describe "Link methods" do
    describe "#index_link" do
      it{ expect(decorator.index_link).to have_tag("a", with: {href: "<%= route_url %>"}) }
    end

    describe "#show_link" do
      it{ expect(decorator.show_link).to have_tag("a", with: {href: "<%= route_url %>/#{<%= singular_table_name %>.id}"}) }
    end

    describe "#edit_link" do
      it{ expect(decorator.edit_link).to have_tag("a", with: {href: "<%= route_url %>/#{<%= singular_table_name %>.id}/edit"}) }
    end

    describe "#new_link" do
      it{ expect(decorator.new_link).to have_tag("a", with: {href: "<%= route_url %>/new"}) }
    end

    describe "#destroy_link" do
      it{ expect(decorator.destroy_link).to have_tag("a", with: {href: "<%= route_url %>/#{<%= singular_table_name %>.id}", "data-method" => "delete"}) }
    end

    describe "#search_link" do
      it{ expect(decorator.search_link).to have_tag("a", with: {href: "<%= route_url %>/search"}) }
    end
  end

  describe "#banner" do
    it "returns a record banner element" do
      expect(decorator.banner).to have_tag(".record_banner", with: {"data-model" => "<%= class_name %>", "data-record-id" => <%= singular_table_name %>.id}){
        with_tag("a", with: {href: "<%= route_url %>/#{<%= singular_table_name %>.id}"})
      }
    end
  end
end
