require 'rails_helper'

describe <%= class_name %>SearchFormDecorator do
  let(:decorator){ described_class.new(form_builder) }
  let(:form_builder){ h.search_form_for(ransack){|f| return f } }
  let(:ransack){ <%= class_name %>.ransack }

  describe "#sorts_field_set" do
    before do
      form_builder.object.sorts = [{name: selected_attrribute_name, dir: "asc"}]
    end

    let(:sort_attributes){ <%= class_name %>.column_names }
    let(:selected_attrribute_name){ sort_attributes.first }

    it "returns a sort conditions fieldset" do
      object_name = "q[sorts]"
      object_name_with_index = "#{object_name}[0]"

      expect(decorator.sorts_field_set).to have_tag("fieldset#sorts"){
        with_tag("legend")
        with_tag(".action_field-container", with: {"data-object-name" => object_name}){
          with_tag(".action_field-member", with: {"data-object-name" => object_name_with_index}){
            with_select("#{object_name_with_index}[name]"){
              sort_attributes.each do |attr|
                with = {value: attr.to_s}
                with.merge!(selected: "selected") if attr == selected_attrribute_name
                with_tag("option", with: with)
              end
            }
            with_select("#{object_name_with_index}[dir]"){
              with_tag("option", with: {value: "asc", selected: "selected"})
              with_tag("option", with: {value: "desc"})
            }
            with_tag(".event_button", with: {"data-event" => "action_field:remove"})
          }
        }
        with_tag(".action_field-menu"){
          with_tag(".event_button", with: {"data-event" => "action_field:add"})
          with_tag(".event_button", with: {"data-event" => "action_field:clear"})
        }
      }
    end
  end

  describe "#submit" do
    it "returns a submit button" do
      expect(decorator.submit).to have_tag("input", with: {type: "submit"})
    end
  end
end
