require 'rails_helper'

describe <%= class_name %>TableDecorator do
  let(:decorator){ described_class.new(<%= singular_table_name %>) }
  let(:<%= singular_table_name %>){ create(:<%= singular_table_name %>) }

  describe "#action_link_cells" do
    it "returns action link cells" do
      expect(decorator.action_link_cells).to have_tag(":root"){
        with_tag("td.action.show.link"){
          with_tag("a", with: {href: "<%= route_url %>/#{<%= singular_name %>.id}"})
        }
        with_tag("td.action.edit.link"){
          with_tag("a", with: {href: "<%= route_url %>/#{<%= singular_name %>.id}/edit"})
        }
        with_tag("td.action.destroy.link"){
          with_tag("a", with: {href: "<%= route_url %>/#{<%= singular_name %>.id}", "data-method" => "delete"})
        }
      }
    end
  end
end
