require 'rails_helper'

describe "<%= plural_name %>/index" do
  before do
    create_list(:<%= singular_name %>, 5)
    assign(:<%= plural_name %>, <%= plural_name %>)
    render partial: "<%= controller_name %>/ajax/index"
  end

  let(:<%= plural_name %>){ <%= class_name %>.page.per(3) }

  it "renders a pagination" do
    expect(rendered).to have_tag("nav.pagination")
    expect(rendered).to have_tag(".page_entries_info")
  end

  it "renders a <%= plural_name %> list" do
    expect(rendered).to have_tag("ul"){
      with_tag("li", count: <%= plural_name %>.size)
      <%= plural_name %>.each do |<%= singular_name %>|
        with_tag("li"){
          with_tag(".event_button", with: {"data-event" => "reference_field:choice", "data-model" => "<%= class_name %>", "data-record-id" => <%= singular_name %>.id})
          with_tag(".record_banner", with: {"data-model" => "<%= class_name %>", "data-record-id" => <%= singular_name %>.id})
        }
      end
    }
  end
end
