<%- associations.each do |assc| -%>
  <%- if assc.singular? -%>
json.<%= assc.name %>_url (<%= singular_name %>.<%= assc.name %>.exists? ? <%= singular_name %>.<%= assc.name %>.show_url(format: :json) : nil)
  <%- else -%>
json.<%= assc.name %>_url <%= singular_name %>.<%= assc.name %>.index_url(format: :json)
json.<%= assc.name %> do |json|
  json.array!(<%= singular_name %>.<%= assc.name %>){|<%= assc.singular_name %>| <%= assc.singular_name %>.show_url(format: :json) }
end
  <%- end -%>
<%- end -%>
