<%- associations.each do |assc| -%>
<%%= <%= singular_name %>.<%= assc.name %>_cell %>
  <%- if assc.collection? -%>
<%%= <%= singular_name %>.<%= assc.name %>_count_cell %>
  <%- end -%>
<%- end -%>
