<%- associations.each do |assc| -%>
<th class="activerecord association" data-association="<%= assc.name %>" rowspan="2"<%= ' colspan="2"' if assc.collection? %>><%%= <%= class_name %>.human_attribute_name(:<%= assc.name %>) %></th>
<%- end -%>
