<%- associations.each do |assc| -%>
  <%- if assc.singular? -%>
"<%= assc.name %>_url" => be_nil,
  <%- else -%>
"<%= assc.name %>_url" => be_a(String),
"<%= assc.name %>" => [],
  <%- end -%>
<%- end -%>