require 'rails_helper'

describe "<%= controller_name %>/index" do
  subject{ JSON.parse(rendered) }

  before do
    create_list(:<%= singular_name %>, 10)
    assign(:<%= plural_name %>, <%= plural_name %>)
    render template: "<%= controller_file_path %>/index", formats: :json, locals: {<%= plural_name %>: <%= plural_name %>.decorate}
  end

  let(:<%= plural_name %>){ <%= class_name %>.page(2).per(3) }

  it "renders a list of <%= plural_name %>" do
    expect(subject["<%= plural_name %>"]).to match(
      <%= plural_name %>.map{|<%= singular_name %>|
        match(
          "id" => <%= singular_name %>.id,
          "url" => <%= singular_name %>_url(<%= singular_name %>, format: :json),
        )
      }
    ).and have_attributes(size: 3)
  end

  it "renders a pagination" do
    expect(subject["pagination"]).to match(
      "first_page_url" => <%= plural_name %>_url(format: :json),
      "prev_page_url" => <%= plural_name %>_url(format: :json, page: 1),
      "current_page_url" => <%= plural_name %>_url(format: :json, page: 2),
      "next_page_url" => <%= plural_name %>_url(format: :json, page: 3),
      "last_page_url" => <%= plural_name %>_url(format: :json, page: 4),
    )
  end
end