require 'rails_helper'

describe "<%= controller_name %>/show" do
  subject{ JSON.parse(rendered) }

  before do
    render template: "<%= controller_file_path %>/show", formats: :json, locals: {<%= singular_name %>: <%= singular_name %>.decorate}
  end

  let(:<%= singular_name %>){ create(:<%= singular_name %>) }

  it "renders attributes of the <%= singular_name %>" do
    is_expected.to match(
      "id" => <%= singular_name %>.id,
      "url" => <%= singular_name %>_url(<%= singular_name %>, format: :json),
    )
  end
end
