<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="outer-container">
      <header>
        <form class="mini_form">
          <input type="search" placeholder="人物#名前" />
          <input type="submit" value="検索" />
        </form>
        <h1>アプリケーション名</h1>
      </header>

      <div id="side-container">
        <%= render "layouts/controller_navigation" %>
      </div>

      <%= render "action_navigation", action: params[:action] %>

      <div id="action-content" class="tab-content" data-tab="action">
        <p id="notice"><%= notice %></p>
        <%= yield %>
      </div>

      <footer>
        アプリケーションフッター
      </footer>
    </div>
  </body>
</html>
