require 'rails_helper'

describe "<%= controller_name %>/_action_navigation" do
  before do
    assign(:<%= singular_name %>, <%= singular_name %>)
    render partial: "action_navigation", locals: {action: "index"}
  end

  let(:<%= singular_name %>){ nil }

  it "renders the action navigation" do
    expect(rendered).to have_tag("nav#action-navigation.<%= plural_name %>"){
      with_tag("h3")
    }
  end

  it "renders collection action links" do
    expect(rendered).to have_tag("#action-navigation"){
      with_tag("ul.collection.actions"){
        with_tag("li.action.link.search"){
          with_tag("a", with: {href: "<%= route_url %>/search"})
        }
        with_tag("li.action.link.index"){
          with_tag("a", with: {href: "<%= route_url %>"})
        }
        with_tag("li.action.link.new"){
          with_tag("a", with: {href: "<%= route_url %>/new"})
        }
      }
    }
  end

  it "specify the current action" do
    expect(rendered).to have_tag("#action-navigation"){
      with_tag(".action.link.search:not(.current)")
      with_tag(".action.link.index.current")
      with_tag(".action.link.new:not(.current)")
    }
  end

  context "`@<%= singular_name %>` is persisted record" do
    let(:<%= singular_name %>){ create(:<%= singular_name %>) }

    it "renders member action links" do
      expect(rendered).to have_tag("#action-navigation"){
        with_tag("ul.member.actions"){
          with_tag("li.action.link.show"){
            with_tag("a", with: {href: "<%= route_url %>/#{<%= singular_name %>.id}"})
          }
          with_tag("li.action.link.edit"){
            with_tag("a", with: {href: "<%= route_url %>/#{<%= singular_name %>.id}/edit"})
          }
          with_tag("li.action.link.destroy"){
            with_tag("a", with: {href: "<%= route_url %>/#{<%= singular_name %>.id}", "data-method" => "delete"})
          }
        }
      }
    end
  end

  context "`@<%= singular_name %>` is new record or nil" do
    it "don't renders member action links" do
      expect(rendered).to have_tag(":root"){
        without_tag(".member.actions")
        without_tag(".action.link.show")
        without_tag(".action.link.edit")
        without_tag(".action.link.destroy")
      }
    end
  end
end
