require 'rails_helper'

describe "<%= controller_name %>/_controller_navigation" do
  before do
    render partial: "controller_navigation"
  end

  it "renders action links" do
    expect(rendered).to have_tag("li.controller.<%= plural_name %>"){
      with_tag("ul.actions"){
        with_tag("li.action.link.search"){
          with_tag("a", with: {href: "<%= route_url %>/search"})
        }
        with_tag("li.action.link.index"){
          with_tag("a", with: {href: "<%= route_url %>"})
        }
        with_tag("li.action.link.new"){
          with_tag("a", with: {href: "<%= route_url %>/new"})
        }
      }
    }
  end
end
