require 'rails_helper'

describe "<%= controller_name %>/edit" do
  before do
    assign(:<%= singular_name %>, <%= singular_name %>)
    render template: "<%= controller_file_path %>/edit", locals: {<%= singular_name %>: <%= singular_name %>.decorate}
  end

  let(:<%= singular_name %>){ create(:<%= singular_name %>) }

  it "renders the edit <%= singular_name %> form" do
    expect(rendered).to have_form("<%= route_url %>/#{<%= singular_name %>.id}", "post"){
      with_tag(".form-actions"){
        with_tag("input", with: {type: "submit"})
      }
    }
  end
end
