require 'rails_helper'

describe "<%= controller_name %>/index" do
  before do
    create_list(:<%= singular_name %>, 10)
    assign(:<%= plural_name %>, <%= plural_name %>)
    render template: "<%= controller_file_path %>/index", locals: {<%= plural_name %>: <%= plural_name %>.decorate}
  end

  let(:<%= plural_name %>){ <%= class_name %>.page.per(3) }

  it "renders a page navigation" do
    expect(rendered).to have_tag("nav.pagination", count: 2)
    expect(rendered).to have_tag("div.page_entries_info")
  end

  it "renders a list of <%= plural_name %>" do
    expect(rendered).to have_tag("table.index.<%= plural_name %>"){
      with_tag("thead"){
        with_tag("tr:nth-child(1)"){
          with_tag("th.model", with: {colspan: 3})
        }
        with_tag("tr:nth-child(2)"){
          with_tag("th.actions", with: {colspan: 3})
        }
      }
      with_tag("tbody"){
        with_tag("tr", count: <%= plural_name %>.size)

        <%= plural_name %>.each_with_index do |<%= singular_name %>, i|
          with_tag("tr:nth-child(#{i + 1})", with: {"data-model" => "<%= class_name %>", "data-record-id" => <%= singular_name %>.id}){
            with_tag("td.action.show.link")
            with_tag("td.action.edit.link")
            with_tag("td.action.destroy.link")
          }
        end
      }
    }
  end
end
