require 'rails_helper'

describe "<%= controller_name %>/new" do
  before do
    assign(:<%= singular_name %>, <%= singular_name %>)
    render template: "<%= controller_file_path %>/new", locals: {<%= singular_name %>: <%= singular_name %>.decorate}
  end

  let(:<%= singular_name %>){ <%= class_name %>.new }

  it "renders new <%= singular_name %> form" do
    expect(rendered).to have_form("<%= route_url %>", "post"){
      with_tag(".form-actions"){
        with_tag("input", with: {type: "submit"})
      }
    }
  end
end
