require 'rails_helper'

describe "<%= controller_name %>/search" do
  before do
    assign(:ransack, ransack)
    render template: "<%= controller_file_path %>/search"
  end

  let(:ransack){ <%= class_name %>.ransack }

  it "renders a search <%= plural_name %> form" do
    expect(rendered).to have_form("<%= route_url %>", "get"){
      with_tag("fieldset#sorts")
      with_tag(".form-actions"){
        with_tag("input", with: {type: "submit"})
      }
    }
  end
end
