require 'rails_helper'

describe "<%= controller_name %>/show" do
  before do
    assign(:<%= singular_name %>, <%= singular_name %>)
    render template: "<%= controller_file_path %>/show", locals: {<%= singular_name %>: <%= singular_name %>.decorate}
  end

  let(:<%= singular_name %>){ create(:<%= singular_name %>) }

  it "renders the <%= singular_name %> article" do
    expect(rendered).to have_tag("article.show", with: {"data-model" => "<%= class_name %>", "data-record-id" => <%= singular_name %>.id}){
    }
  end
end
