@import 'draper_ext/attribute/mixin';

@include activerecord_attribute_boolean('Animal', 'sex');

table.index {

  td.activerecord.attribute[data-attribute="name"] {
    max-width: 200px;
  }

  td.activerecord.association {
    max-width: 100px;
  }
}
