p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


/* 通知欄 */
#notice {
  color: green;
}

/* 表 */
td.count {
  text-align: right;
}

/* リンク */
a:hover {
  color: #fff;
  background-color: #000;
}

.link {
  padding: 0px;

  & > a {
    display: block;
    height: 100%;
    padding: 0px 1ex;
    text-decoration: none;
    line-height: 2em;
  }
}

/* 簡易検索フォーム */
form.mini_form {
  float: right;
}
