<%- module_namespacing do -%>
class <%= class_name %>ModelDecorator < <%= parent_class_name %>
  include DraperExt::Model
  routes resources: true

  # Record banner
  def banner(*args, &block)
    h.record_banner(object, *args, &block)
  end
end
<%- end -%>
