<%- module_namespacing do -%>
class <%= class_name %>SearchFormDecorator < <%= parent_class_name %>
  include DraperExt::Ransack::SearchForm
  delegate :submit, to: :form_builder

  # Sort conditions
  def sorts_field_set(html_attributes = {})
    markup(sorts).fieldset(id: "sorts", **html_attributes) do |m|
      m.legend(:human_association_name)
      m.action_field(<%= class_name %>.column_names)
    end
  end
end
<%- end -%>
