<%- module_namespacing do -%>
class <%= class_name %>TableDecorator < <%= class_name %>ModelDecorator

  # Cells containing link to action.
  def action_link_cells
    markup(self) do |m|
      m.td(:show_link, class: "action show link")
      m.td(:edit_link, class: "action edit link")
      m.td(:destroy_link, class: "action destroy link")
    end
  end
end
<%- end -%>
