#action-navigation {
  display: flex;
  margin-top: 10px;

  & > h3 {
    margin: 0px;
    padding: 0px 1ex;
  }

  .tab-head > * {
    width: 12ex;

    & > a:hover {
      color: initial;
      font-weight: bold;
      background-color: transparent;
    }
  }
}
