.controller-navigation {
  margin-bottom: 20px;
  padding: 10px 5px;
  border: 1px solid gray;
  border-radius: 5%;

  & > h2 {
    margin: 1ex 0px;
  }

  li.controller {
    & > h3 {
      margin: 0px;
      padding: 0.5ex 1ex;
      background-color: #cceecc;
    }
  }

  /* アクションページへのリンク要素 */
  ul.actions {
    display: flex;
    flex-wrap: wrap;

    & > li {
      flex: auto;
      background-color: white;
    }
  }

  /* アコーディオン */
  .acd-check {
    & + .acd-label {
      margin: 0px;
      padding: 0.5ex 1ex;
      background-color: #cceecc;
      font-weight: bold;
      font-size: 1.1em;
    }
    &:checked + .acd-label + .acd-content {
      max-height: 100px;
    }
  }
}
