@import "variables";

/* エラーのある入力欄 */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* エラー説明欄 */
#error_explanation,
.error_explanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  & > h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  & > ul > li {
    font-size: 12px;
    list-style: square;
  }
}

/* フィールドブロックなど */
div.activerecord.field {
  margin: 5px 0px;
}

fieldset,
.form-actions {
  margin: 10px 0px;
}

.activerecord.field > label,
fieldset.activerecord.association > legend {
  min-width: 10ex;
  padding: 0.5ex 1ex;
}
.activerecord.field > label {
  @include attribute-head;
  display: inline-block;
  margin-right: 5px;
}
fieldset.activerecord.association > legend {
  @include association-head;
}
