@import "variables";

table.index {
  margin: 2ex 0px;
  width: max-content;

  & > * > tr {

    & > th {
      background-color: silver;
      padding: 0.5ex 1ex;

      &.activerecord.attribute {
        @include attribute-head;
      }
      &.activerecord.association {
        @include association-head;
      }
    }

    & > td {
      border: 1px solid silver;

      &:not(.link) {
        padding: 0px 1ex;
      }

      &.action {
        min-width: max-content;
        text-align: center;
      }
    }
  }
}
