@import "plugins/tab";

html, body {
  height: 100%;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

#outer-container {
  display: grid;
  grid: 100px max-content auto 100px / 200px auto;
  min-width: 800px;
  max-width: 1200px;
  min-height: 100%;
  margin: 0px auto;

  /* アプリケーションヘッダー */
  & > header {
    grid-column: 1 / span 2;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffcc;

    & > h1 {
      margin: 0px;
      font-size: x-large;
      font-weight: bold;
    }
  }

  #side-container {
    grid-row: 2 / span 2;
    padding: 0.5ex;
  }

  @include tab("action", white, silver);

  #action-content {
    padding: 0.5ex;
  }

  /* アプリケーションフッター */
  & > footer {
    grid-column: 1 / span 2;
    padding: 0.5ex;
    margin-top: 10px;
    background-color: #dddddd;
  }
}
