@import "variables";

article.show {

  /* 「属性」および「関連」 */
  & > .activerecord.attribute,
  & > .activerecord.association {
    display: grid;
    grid: auto auto / max-content auto;
    margin: 10px 0px;
    border-width: 1px;
    border: 1px solid silver;

    & > h3 {
      grid-row: 1 / span 2;
      min-width: 10ex;
      font-size: inherit;
      font-weight: bold;
    }

    & > *:not(.action-navigation) {
      margin: 0px;
      padding: 0.5ex 1ex;
    }
  }

  /* 「属性」 */
  & > .activerecord.attribute {
    & > h3 {
      @include attribute-head;
    }
  }

  /* 「関連」 */
  & > .activerecord.association {
    & > h3 {
      @include association-head;
    }

    /* アクションナビゲーション */
    & > .action-navigation {
      & > ul {
        display: flex;
        height: 100%;

        & > li {
          width: 10ex;

          &.no-link {
            line-height: 2em;
            text-decoration: line-through;
          }
        }
      }
    }
  }
}
