json.<%= plural_name %> do |json|
  json.array! <%= plural_name %>, partial: "<%= controller_file_path %>/<%= file_path %>", as: :<%= singular_name %>
end
json.pagination do |json|
  unless @<%= plural_name %>.first_page?
    json.set! :first_page_url, <%= plural_name %>_url(format: :json)
    json.set! :prev_page_url, <%= plural_name %>_url(format: :json, page: @<%= plural_name %>.prev_page)
  end
  json.set! :current_page_url, <%= plural_name %>_url(format: :json, page: @<%= plural_name %>.current_page)
  unless @<%= plural_name %>.last_page?
    json.set! :next_page_url, <%= plural_name %>_url(format: :json, page: @<%= plural_name %>.next_page)
    json.set! :last_page_url, <%= plural_name %>_url(format: :json, page: @<%= plural_name %>.total_pages)
  end
end
