<%%- <%= plural_name %> = @<%= plural_name %>.decorate -%>

<%%= <%= plural_name %>.paginate(format: :js, remote: true) %>
<%%= <%= plural_name %>.page_entries_info(wrap: true) %>

<ul>
<%%- <%= plural_name %>.each do |<%= singular_name %>| -%>
  <li>
    <%%= choice_button(<%= singular_name %>.object) %>
    <%%= <%= singular_name %>.banner %>
  </li>
<%%- end -%>
</ul>
