<%- attributes.each do |attr| -%>

# attribute <%= attr.column_name %>:<%= attr.type %>
def <%= attr.name %>_section(html_attributes = {})
  attribute_markup(<%= attr.name %>).section(html_attributes) do |m|
    m.h3(:human_attribute_name)
    m.span(:humanize)
  end
end
<%- end -%>