<%- attributes.each do |attr| -%>

# attribute <%= attr.column_name %>:<%= attr.type %>
def <%= attr.name %>_field(html_attributes = {})
  field_markup(<%= attr.name %>).div(html_attributes) do |m|
    m.label
    m.<%= attr.field_type %>
  end
end
<%- end -%>