<%- attributes.each do |attr| -%>

# attribute <%= attr.column_name %>:<%= attr.type %>
def <%= attr.name %>_cell(html_attributes = {})
  attribute_markup(<%= attr.name %>).td(html_attributes)
end
<%- end -%>