<%- attributes.each do |attr| -%>

describe "#<%= attr.name %>" do
  it "returns a <%= attr.name %> section element" do
    expect(decorator.<%= attr.name %>_section).to have_tag(
      "section.activerecord.attribute",
      with: {
        "data-model" => "<%= class_name %>",
        "data-attribute" => "<%= attr.name %>",
        "data-value" => <%= singular_name %>.<%= attr.name %>.to_s,
      },
    ){
      with_tag("h3")
      with_tag("span")
    }
  end
end
<%- end -%>