<%- attributes.each do |attr| -%>

describe "#<%= attr.name %>" do
  it "returns a <%= attr.name %> field block" do
    expect(decorator.<%= attr.name %>_field).to have_tag("div.activerecord.field", with: {"data-field-name" => "<%= singular_name %>[<%= attr.name %>]"}){
      with_tag("label")
      <%= attr.field_matcher("#{singular_name}[#{attr.name}]", [singular_name, attr.name].join(".")) %>
    }
  end
end
<%- end -%>