<%- attributes_with_timestamps.each do |attr| -%>

describe "#<%= attr.name %>" do
  it{ expect(decorator.<%= attr.name %>.name).to eq(:<%= attr.name %>) }
  it{ expect(decorator.<%= attr.name %>.value).to eq(<%= singular_name %>.<%= attr.name %>) }
end
<%- end -%>