<%- attributes.each do |attr| -%>

describe "#<%= attr.name %>" do
  it "returns a <%= attr.name %> search field block" do
    expect(decorator.<%= attr.name %>_field).to have_tag("div.activerecord.field", with: {"data-field-name" => "q[<%= attr.name %>_eq]"}){
      with_tag("label")
      <%= attr.field_matcher("q[#{attr.name}_eq]", "nil") %>
    }
  end
end
<%- end -%>