<%- attributes.each do |attr| -%>

describe "#<%= attr.name %>" do
  it "returns a <%= attr.name %> cell element" do
    expect(decorator.<%= attr.name %>_cell).to have_tag(
      "td.activerecord.attribute",
      with: {
        "data-model" => "<%= class_name %>",
        "data-attribute" => "<%= attr.name %>",
        "data-value" => <%= singular_name %>.<%= attr.name %>.to_s,
      },
    )
  end
end
<%- end -%>