<%- associations.each do |assc| -%>

# association <%= assc.name %>:<%= assc.type %>
def <%= assc.name %>_section(html_attributes = {})
  association_markup(<%= assc.name %>).section(html_attributes) do |m|
    m.h3(:human_association_name)
    m << <%= assc.name %>_navigation
  <%- if assc.singular? -%>
    m.div(<%= assc.name %>.target.banner, class: "association_target") if <%= assc.name %>.exists?
  <%- else -%>
    m.div(:enumerate, class: "association_target") if <%= assc.name %>.any?
  <%- end -%>
  end
end

def <%= assc.name %>_navigation(html_attributes = {})
  html_attributes = html_attributes.html_attribute_merge(class: "action-navigation")
  markup(<%= assc.name %>).nav(html_attributes) do |m|
    m.ul(class: "tile") do |m|
  <%- case assc.type -%>
  <%- when :references, :belongs_to, :has_one then -%>
      if <%= assc.name %>.exists?
        m.li(:show_link, class: "action link show")
        m.li(:edit_link, class: "action link edit")
      elsif <%= assc.name %>.reversible?
        m.li(:new_link, class: "action link new")
      else
        m.li(:new_name, class: "action no-link new")
      end
  <%- when :has_many then -%>
      m.li(:index_link, class: "action link index")
      m.li(:new_link, class: "action link new")
  <%- when :has_and_belongs_to_many then -%>
      if <%= assc.name %>.reversible?
        m.li(:index_link, class: "action link index")
        m.li(:new_link, class: "action link new")
      else
        m.li(:index_name, class: "action no-link index")
        m.li(:new_name, class: "action no-link new")
      end
  <%- end -%>
    end
  end
end
<%- end -%>