<%- associations.each do |assc| -%>

# association <%= assc.name %>:<%= assc.type %>
def <%= assc.name %>_field_set(html_attributes = {})
  association_markup(<%= assc.name %>).fieldset(html_attributes) do |m|
    m.legend(:human_association_name)
  <%- case assc.type -%>
  <%- when :references, :belongs_to then -%>
    m.reference_field
  <%- when :has_one, :has_many -%>
    m.action_field do |m|
      # Add <%= assc.name %> fields.
      # m.name_field
      m.remove_button
    end
  <%- when :has_and_belongs_to_many then -%>
    m.collection_reference_field
  <%- end -%>
  end
end
<%- end -%>