<%- associations.each do |assc| -%>

# association <%= assc.name %>:<%= assc.type %>
def <%= assc.name %>_field_set(html_attributes = {})
  association_markup(<%= assc.name %>).fieldset(html_attributes) do |m|
    m.legend(:human_association_name)
    m.field_markup(:id, :eq).div do |m|
      m.label
      m.number_field
    end
  end
end
<%- end -%>