<%- associations.each do |assc| -%>

# association <%= assc.name %>:<%= assc.type %>
def <%= assc.name %>_cell(html_attributes = {})
  association_markup(<%= assc.name %>).td(html_attributes) do |m|
  <%- if assc.singular? -%>
    m.target.banner if <%= assc.name %>.exists?
  <%- else -%>
    m.enumerate
  <%- end -%>
  end
end
  <%- if assc.collection? -%>

# association <%= assc.name %>:<%= assc.type %>
def <%= assc.name %>_count_cell(html_attributes = {})
  html_attributes = html_attributes.html_attribute_merge(class: %w(count link))
  association_markup(<%= assc.name %>).td(html_attributes) do |m|
    m.index_link(:count)
  end
end
  <%- end -%>
<%- end -%>