/* 
参考: https://webdesignday.jp/inspiration/technique/css/5316/#i-2
 */

.acd-check {

  /* チェックボックス */
  display: none;

  & + .acd-label {

    /* ラベル */
    display: block;
    position: relative;
    cursor: pointer;

    /* 開閉アイコン */
    &:after {
      display: block;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 1.5em;
      box-sizing: border-box;
      background-color: rgba(0, 0, 0, 0.1);
      content: "+";
      font-weight: bold;
      font-family: "Font Awesome 5 Free";
    }

    /* 内容 */
    & + .acd-content {
      overflow: hidden;
      transition: all 0.3s linear;
    }
  }

  /* 閉じた状態 */
  &:not(:checked) + .acd-label {

    /* 内容 */
    & + .acd-content {
      visibility: hidden;
      max-height: 0px;
    }
  }

  /* 開いた状態 */
  &:checked + .acd-label {

    /* 開閉アイコン */
    &:after {
      content: "-";
    }

    /* 内容 */
    & + .acd-content {
      visibility: visible;
      /* max-height: 100px; */
      /*
      ↑ここだけ自分で調整する
      `auto`は効かない
      */
    }
  }
}
