.pagination {
  display: flex;
  justify-content: center;
  text-align: center;

  & > span {
    flex: none;

    & > a {
      text-decoration: none;
    }
    
    &.current {
      font-weight: bold;
      background-color: #eeeeff;
    }

    & > a,
    &.current {
      padding: 0px 0.5ex;
    }
  }
}

.page_entries_info {
  text-align: center;
}
