@mixin tab($name, $background-color, $border-color) {

  /* タブ見出しセット */
  .tab-head[data-tab='#{$name}'] {
    display: flex;
    margin: 0px;
    padding: 0px;

    /* タブ見出し */
    & > * {
      position: relative;
      top: 1px;
      border: 1px solid $border-color;
      border-radius: 5px 5px 0px 0px;
      text-align: center;
      list-style-type: none;

      &.current {
        background-color: $background-color;
        border-bottom: 1px solid $background-color;
      }

      &:not(.current) {
        background-color: darken($background-color, 5%);
      }

      &:hover {
        background-color: $background-color;
      }
    }
  }

  /* タブ本文 */
  .tab-content[data-tab='#{$name}'] {
    background-color: $background-color;
    border: 1px solid $border-color;
  }
}
